.ModelList {
}

.ModelList__item {
  padding-top: 12px;
  padding-bottom: 12px;

  border-top: 1px solid #ddd;
  // border-bottom: 1px solid #ddd;
}

.ModelList__title {
	padding-left: 24px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}
