.Post {
  margin-bottom: 50px;
}

.Post__wrapper {
  display: flex;
}

.Post__thumbnail {
  width: 100%;
}

.Post__meta {
  width: 40%;
  padding-left: 30px;
  padding-right: 30px;
}

.Post__title {
  color: $blue;
}

.Post__link {
  color: $blue;
}
