.Post {
  margin-bottom: 50px;
}

.Post__wrapper {
  display: flex;
}

.Post__thumbnail {
  width: 600px;
}

.Post__meta {
  width: 40%;
  padding-left: 30px;
  padding-right: 30px;
}

.Post__title {
  color: $blue;
  font-size: $font-size-1;
}

.Post__author {
  color: $secondary-font-color;
  font-size: $font-size-2;
  margin-top: 0;
}

.Post__link {
  color: $blue;
}
