h1, h2, h3, h4, h5, h6{
  font-family: $primary-font-family;
  color: $primary-color;
  margin-top: 0;
  margin-bottom:1em;
}

h1 {
  font-size: $font-size-1;
  font-weight: $weight-bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: $font-size-2;
  line-height: 35px;
  font-weight: $weight-medium;
  margin-top: 2em;
}

h3 {
  font-size: $font-size-3;
  font-weight: $weight-medium;
}

h4 {
  font-size: $font-size-4;
  color:$primary-font-color;
}

p {
  margin-bottom: 1em;
}

blockquote {
  color: $secondary-font-color;
  background-color:rgba(255,229,100,.3);
  padding: 15px 30px 15px 15px;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  margin-bottom: 1em;
  border-left: 8px solid #ffe564;

  p {
    margin-bottom: 0;
  }
}

ul {
  margin-bottom: 1em;
}