// Color
$blue: #4A90E2;
$purple: #A256FF;
$green: #6DB51E;
$primary-color: $blue;
$secondary-color:$purple;
$primary-font-color: #000000;
$secondary-font-color: #929494;

// Typography
/// Brand font
$primary-font-family: "HK Grotesk", sans-serif !default;
$secondary-font-family: "HK Grotesk", "Arial", sans-serif !default;
$monospace-font-family: monospace !default;

$font-size-1: 36px; // for model name on model page
$font-size-2: 30px; // for tab
$font-size-3: 16px; // for documentation title
$font-size-4: 20px; // for sidebar list item
$font-size-5: 12px; // tag
$font-size-6: 3rem;

$weight-light: 300 !default;
$weight-medium: 600 !default;
$weight-normal: 400 !default;
$weight-bold: 700 !default;

// Resonpsiveness
/// gap is acting as the horizontal gap of container
$gap: 64px !default;
/// fullhd >= 1472px;
$fullhd: 1344px + (2 * $gap) !default;

/// widescreen >= 1280px;
$widescreen: 1152px + (2 * $gap) !default;

/// desktop >= 1088px
$desktop: 960px + (2 * $gap) !default;

/// tablet >= 769px;
$tablet: 769px !default;

/// mobile
$mobile: $tablet - 1px !default;
