.Footer {
  background-color: $primary-color;
  display: flex;
  margin-top: 100px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.Footer__logo {
  padding: 56px;
  img {
    max-width: 70px;
  }
}

.Footer__item {
  display: block;
  color: white !important;
  font-size: 18px;
  margin-bottom: 0.5em;

  padding-top: 0 !important;
  padding-bottom: 0 !important;

  &--title {
    // padding: 0.5em 0.75em;
    font-size: $font-size-4;
    margin-bottom: 1em;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
}

.Footer__social {
  display: flex;
  align-items: stretch;
  padding-right: 56px;
  padding-left: 56px;

  a {
    width: 20px;
    margin: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
  }
}
