$Navbar-background-color: white !default;
$Navbar-breakpoint: $tablet !default;

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: $Navbar-height;

  display: flex;
  align-items: stretch;

  background-color: $Navbar-background-color;

  // container inside Navbar
  // & > .container {
  //   display: flex;
  //   width: 100%;
  // }
}

.Navbar__wrapper {
  display: flex;
  width: 100%;
  // padding-top: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  // padding-bottom: 0.8rem;
  height: $Navbar-height;
}

.Navbar__brand {
  justify-content: flex-start;
  display: flex;
}

.Navbar__tagline {
  display: flex;
}

.Navbar__menu {
  display: none;

  @include tablet-up() {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    justify-content: flex-end;
  }

  @include mobile-only() {
    &.is-active {
      display: block;
    }
  }
}

.Navbar__itemContainer {
  display: flex;
  align-items: stretch;
}

.Navbar__item {
  font-size: $font-size-4;
  font-weight: $weight-medium;
  color: #000000;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  position: relative;

  img {
    max-height: 1.75rem;
  }
}

//temporary overwrite
.navbar-burger {
  @include tablet-up() {
    display: none;
  }
}
