.Sidebar {
  width: 16%;
  min-width: $sidebar-width;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  position: fixed;
}

.Sidebar__title {
  font-size: $font-size-4;
  color: $secondary-color;
  font-weight: $weight-medium;
  line-height: 38px;
}
